@import "tailwindcss";

@layer base {
  :root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  }

  body {
    @apply antialiased;
  }
}

/* Customizações */
input:focus,
textarea:focus,
select:focus {
  @apply ring-2 ring-blue-500 ring-offset-2 outline-none;
}

button:disabled {
  @apply opacity-50 cursor-not-allowed;
}
